# pdf output
*.pdf

# Latex files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg

# Drafts and notes
*.txt
*.draft

# Mac
.DS_Store

# Latex-Workshop
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.fls
*.fdb_latexmk
